certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
requests==2.32.3
urllib3==2.2.3

google-cloud-storage==2.13.0
google-auth==2.23.4
google-cloud-core>=2.3.0,<3.0dev


pandas==1.5.3
numpy==1.23.5
evidently==0.3.2
datetime==5.1
jsonschema==4.17.3
loguru==0.6.0

pyspark==3.3.2
PyYAML==6.0.1
python-json-logger==2.0.7

py4j==0.10.9.5
typing-extensions==3.10.0.2
python-dotenv==0.19.0
